# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# environment variables - KHÔNG BAO GIỜ push file này lên GitHub!
.env.local
.env*.local

# debug
npm-debug.log*
yarn-debug.log*

# misc
.DS_Store
*.pem
/coverage
/.nyc_output
